## import libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

## Load Data

In [6]:
train = pd.read_csv("./kaggle/input/playground-series-s6e2/train.csv")
test = pd.read_csv("./kaggle/input/playground-series-s6e2/test.csv")
sample_submit = pd.read_csv("./kaggle/input/playground-series-s6e2/sample_submission.csv")

In [7]:
train.head()

,id,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,0,58,1,4,152,239,0,0,158,1,3.6,2,2,7,Presence
1,1,52,1,1,125,325,0,2,171,0,0.0,1,0,3,Absence
2,2,56,0,2,160,188,0,2,151,0,0.0,1,0,3,Absence
3,3,44,0,3,134,229,0,2,150,0,1.0,2,0,3,Absence
4,4,58,1,4,140,234,0,2,125,1,3.8,2,3,3,Presence

In [15]:
X = train.drop('Heart Disease',axis=1)
y = train["Heart Disease"]                       
y_encoded=LabelEncoder().fit_transform(y)

X_train, X_val, y_train, y_val = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

rf=RandomForestClassifier(n_estimators=300,max_depth=10,random_state=42)
rf.fit(X_train,y_train)

rf_preds=rf.predict_proba(X_val)[:,1]
print("ROC AUC:", roc_auc_score(y_val, rf_preds))

ROC AUC: 0.9519571996197296

## Submission

In [ ]:
final_preds = rf.predict_proba(test)[:,1]

submission = pd.DataFrame({
    "id": test["id"], 
    "Heart_Disease": final_preds
})

submission['Heart_Disease'] = (submission['Heart_Disease'] > 0.5).astype(int)

# Create a CSV file with sample submission and predictions
sample_submit['Heart_Disease'] = final_preds
sample_submit.to_csv('sample_submission_with_preds.csv', index=False)
print('Saved sample_submission_with_preds.csv')
submission

            id  Heart_Disease
0       630000              1
1       630001              0
2       630002              1
3       630003              0
4       630004              0
...        ...            ...
269995  899995              0
269996  899996              0
269997  899997              0
269998  899998              0
269999  899999              0

[270000 rows x 2 columns]